doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title New Document
		link(rel="stylesheet", href="../style/new.css")
	body
		h1 New Document
		form(method="post" action="/new")
			div
				textarea(name="content")
			div
				button(type="submit") 保存
